# ANAVIS Project 
Create a network from tweet replies about the war in Ukraine.

### Import librairies

In [1]:
import pandas as pd
from google.colab import files
from google.colab import drive

### Mount drive and download CSVs to df

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
file_name = '/content/drive/My Drive/.../27-02-22/2022-02-27_{}.csv'
df2702 = pd.concat([pd.read_csv(file_name.format(i)) for i in range(1, 7)])
cols = df2702.shape[1]
rows = df2702.shape[0]
print(f"Success ! Dowloaded df (27-02-22) with {rows} rows and {cols} columns.")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.

Success ! Dowloaded df (27-02-22) with 192210 rows and 35 columns.

In [4]:
file_name = '/content/drive/My Drive/.../06-03-22/2022-03-06_{}.csv'
df0603 = pd.concat([pd.read_csv(file_name.format(i)) for i in range(1, 7)])
cols = df0603.shape[1]
rows = df0603.shape[0]
print(f"Success ! Dowloaded df (06-03-33) with {rows} rows and {cols} columns.")

Success ! Dowloaded df (06-03-33) with 197595 rows and 35 columns.

In [5]:
file_name = '/content/drive/My Drive/.../15-04-22/2022-04-15_{}.csv'
df1504 = pd.concat([pd.read_csv(file_name.format(i)) for i in range(1, 6)])
cols = df1504.shape[1]
rows = df1504.shape[0]
print(f"Success ! Dowloaded df (15-04-22) with {rows} rows and {cols} columns.")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.

Success ! Dowloaded df (15-04-22) with 186573 rows and 35 columns.

### Select columns and language

In [6]:
def preprocess(df):
  # Select columns and keep only english tweets
  df_rep = df[['user_screen_name', 'in_reply_to_screen_name', 'text', 'created_at', 'lang']].loc[df['lang'] == 'en']
  # Keep only tweets that are replies to other tweets and delete lang col
  df_rep = df_rep[df_rep['in_reply_to_screen_name'].notna()].drop(['lang'], axis=1)
  return df_rep

In [7]:
df2702_clean = preprocess(df2702)
df0603_clean = preprocess(df0603)
df1504_clean = preprocess(df1504)
dfs = [df2702_clean, df0603_clean, df1504_clean]

In [ ]:
#dfs_shorts = list()
#for df in dfs:
#  v = df['user_screen_name'].value_counts()
# dfs_shorts.append(df[df.user_screen_name.isin(v.index[v.gt(2)])])

In [8]:
v = df2702_clean['user_screen_name'].value_counts()
df1 = df2702_clean[df2702_clean.user_screen_name.isin(v.index[v.gt(2)])]

v = df0603_clean['user_screen_name'].value_counts()
df2 = df0603_clean[df0603_clean.user_screen_name.isin(v.index[v.gt(5)])]

v = df1504_clean['user_screen_name'].value_counts()
df3 = df1504_clean[df1504_clean.user_screen_name.isin(v.index[v.gt(10)])]

### Save to CSV

In [ ]:
df1.to_csv( "/content/drive/My Drive/.../2702.csv", index=False, encoding='utf-8-sig')

In [ ]:
df2.to_csv( "/content/drive/My Drive/.../0603.csv", index=False, encoding='utf-8-sig')

In [ ]:
df3.to_csv( "/content/drive/My Drive/.../1504.csv", index=False, encoding='utf-8-sig')

### Create a single df with all 3 days

In [ ]:
dfs = pd.concat([df1, df2, df3], ignore_index=True)

In [10]:
dfs.to_csv( "/content/drive/My Drive/.../total.csv", index=False, encoding='utf-8-sig')